
<div class="container">
    <navbar></navbar>
    <router-outlet></router-outlet>
</div>


<!--
    <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <posts></posts>
      </div>
    </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <signup-form></signup-form>
      </div>
    </div>
</div>


<div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <contact-form></contact-form>
          </div>
        </div>
    </div>



<button class="btn btn-success" (click)="addCourse()">Ajouter</button>
<button class="btn btn-primary" (click)="loadCourses()">Load</button>
<ul>
    <li *ngFor="let cour of cours; trackBy: trackCourse">
        {{ cour.id }} {{ cour.title }}
        <button class="btn btn-danger" (click)="removeCourse(cour)">supp</button>
        <button class="btn btn-warning" (click)="editCourse(cour)">edit</button>
    </li>
</ul>

<br><br>

<ul>
    <li *ngFor="let cour of cours; index as i; even as isEven; first as isFirst; last as isLast">
        <span *ngIf="isLast">Last -</span>
        <span *ngIf="isFirst">First -</span>
        <span *ngIf="isEven">Even -</span>
        {{ i }} {{ cour.id }} {{ cour.title }}
    </li>
</ul>


<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" [class.active]="viewCourse == 'Laravel'" (click)="viewCourse = 'Laravel'">Laravel</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [class.active]="viewCourse == 'Angular'" (click)="viewCourse = 'Angular'">Angular</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [class.active]="viewCourse == 'Symfony'" (click)="viewCourse = 'Symfony'">Symfony</a>
    </li>
</ul>

<div [ngSwitch]="viewCourse">
    <div *ngSwitchCase="'Laravel'">Lorem Laravel</div>
    <div *ngSwitchCase="'Angular'">Lorem Angular</div>
    <div *ngSwitchCase="'Symfony'">Lorem Symfony</div>
    <div *ngSwitchDefault>Autre chose ...</div>
</div>


<div [hidden]="courses.length == 0">
    List des cours
</div>

<div [hidden]="courses.length > 0">
    Pas de cours
</div>


<div *ngIf="courses.length > 0; then listCourses else noCourses">
</div>

<ng-template #listCourses>
    Liste des cours
</ng-template>

<ng-template #noCourses>
    pas de cours
</ng-template>

<panel>
    <div class="header">Header</div>
    <div class="body">
        <h3>Body</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita nemo assumenda nobis omnis cupiditate at sequi quod aperiam perspiciatis itaque placeat, eum numquam culpa esse consequatur, amet tenetur, nam explicabo ipsa veniam dolore voluptate. Iure ad, saepe dolorum reiciendis sit error asperiores eius eveniet ducimus velit atque voluptas accusamus nobis.</p>
    </div>
</panel>


<favorite [is-fav]="post.isFavorite" (change)="onFavoriteChanged($event)"></favorite>

<p>{{ body | resume:15 }}</p>

<br><br>

<courses></courses>
-->