<form>
  <legend>New Post</legend>

  <div class="form-group">
      <label for="title">title</label>
      <input [(ngModel)]="post.title" name="title" type="text" class="form-control" id="title" placeholder="title">
  </div>
  <div class="form-group">
      <label for="body">body</label>
      <textarea [(ngModel)]="post.body"  name="body" class="form-control" id="body" placeholder="body"></textarea>
  </div>

  <button (click)="createPost()" class="btn btn-primary" *ngIf="status">Add</button>
  <button (click)="updatePost()" class="btn btn-danger" *ngIf="!status">Update</button>

</form>


<ul class="list-group">
  <li 
    class="list-group-item"
    *ngFor="let post of posts"
  >
    <h4>{{post.title}}</h4>
    <p>{{post.body}}</p>
    <div align="right">
      
      <button (click)="editPost(post)" type="button" class="btn btn-warning">Edit</button>
      <button (click)="deletePost(post)" type="button" class="btn btn-danger">delete</button>
      
    </div>
  </li>
</ul>
